@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap');
:root{
    --primary-color:#001528;
    --light-gray:#b4becb;
    --darkmode-color:hsl(219, 19%, 8%);
    --lightmode-color:#fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato','sans-serif';
    color: #333;
    line-height: 1.6;

}

a{
    text-decoration: none;
    color: #333;
    letter-spacing: 1px;
}
h1,h2{
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
}

ul {
list-style: none;
}

img {
    width: 100%;
}

::-webkit-scrollbar{
    width: 0.2rem;
}
::-webkit-scrollbar-thumb{
    background-color: #8884d8;
}
::-webkit-scrollbar-track{
    background-color: #650063;
    
}

::-moz-scrollbar{
    width: 0.2rem;
}
::-moz-scrollbar-thumb{
    background-color: #8884d8;
}
::-moz-scrollbar-track{
    background-color: #650063;
    
}
.container {
    max-width: 1400px;
    margin: 0 0;
    padding: 0 40px;
    overflow: auto;
} 

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.flex-between {
    justify-content: space-between;

}
.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-cols-3 {
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
}

.grid-cols-3 {
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
}

.grid-cols-4 {
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
}
.card {
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;

}
.btn-outline {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn:hover {
    background-color: #333;
    transform: scale(0.95);
}


.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 1.5rem 0;
}
.my-3 {
    margin: 2rem 0;
}
.my-4 {
    margin: 2.5rem 0;
}
.my-5 {
    margin: 3rem 0;
}
.mx-1 {
    margin:  0 1rem;
}
.mx-2 {
    margin:  0 1.5rem;
}
.mx-3 {
    margin:  0 2rem;
}
.mx-4 {
    margin:  0 2.5rem;
}
.mx-5 {
    margin: 0 3rem;
}
.m-1 {
    margin: 1rem 1rem;
}
.m-2 {
    margin: 1.5rem 1rem;
}
.m-3 {
    margin: 2rem 2rem;
}
.m-4 {
    margin: 2.5rem 5rem;
}
.m-5 {
    margin: 3rem 3rem;
}

.mx-auto{
   text-align: center;
}
.my-auto{
    margin: auto 0;
}


/* paddings */

.py-1 {
    padding: 1rem 0;
}
.py-2 {
    padding: 1.5rem 0;
}
.py-3 {
    padding: 2rem 0;
}
.py-4 {
    padding: 2.5rem 0;
}
.py-5 {
    padding: 3rem 0;
}
.px-1 {
    padding:  0 1rem;
}
.px-2 {
    padding:  0 1.5rem;
}
.px-3 {
    padding:  0 2rem;
}
.px-4 {
    padding:  0 2.5rem;
}
.px-5 {
    padding: 0 3rem;
}
.p-1 {
    padding: 1rem 1rem;
}
.p-2 {
    padding: 1.5rem 1rem;
}
.p-3 {
    padding: 2rem 2rem;
}
.p-4 {
    padding: 2.5rem 5rem;
}
.p-5 {
    padding: 3rem 3rem;
}
.pr-2{
    padding-right: 1.5rem;
}

.px-auto{
    padding: 0 auto;
}
.py-auto{
    padding: auto 0;
}
/* text */
.head-text{
    font-size: 38px;
    font-weight: 300px;
    line-height: 1.2;
    margin: 20px 0;
}
.text-lead {
    font-size: 16px;
    
}
.small-text{
    font-size: 0.9rem;
}
.text-center{
    text-align: center;
}
.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;

}

/* nav */
.navbar,
.showcase{
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
    position: relative;
}
.navbar .flex {
    justify-content: space-between;
}
.navbar li{
    padding: 0 20px;
    margin-left: 10px;
}

.navbar a{
    color: #fff;
}
.navbar .btn {
    padding: 2px 20px;
}
.navbar ul  a:hover{
    border-bottom: 1px solid #fff;   

}
.navBarMenu{
    z-index: 40;
    display: none;
}
.navBarMenuClose{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 43;
    background-color: rgba(104, 13, 13, 0.2);
    cursor: pointer;
}
.navBarMenuOpen{
    position: absolute;
    left: 0;
    top: 0;
    width: 350px;
    height: 100vh;
    z-index: 44;
    padding-top: 80px;
    background-color: var(--primary-color);
    animation: slideToRight  0.5s ease-in;
}

.logo{
    z-index: 42;
}
.navbar .container{
    overflow: hidden;
}
.navbar .logo{
    margin-top: 10px;
}

/* end of navbar but show case also share some properties */

/* showcase */
.showcase .container,
.whyBsi .container,
.navbar .container{
    max-width: 1200px;
    margin: 0 auto;
}

.showcase{
    position: relative;
    height: 400px;
    z-index: 40;
}
.showcase-p{
    padding: 10px 0;
    font-size: 18px;
}
.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -60px;
    right: 0;
    left: 0;
    background-color: var(--primary-color);
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    z-index: -1;
}
.showcase-demo{
    height: 300px;
    width: 500px;
    background-color: #b4becb;
    border-radius: 6px;
    padding: 5px;
    animation:SlideUpandDown 10s infinite ;
    z-index: 20;
}

.showcase-demo .grid {
    gap: 2px;
}

.items-icon-list i {
    color: #8884d8;
}

.showcase-text{
    z-index: 20;
 
}
/* whubsi */
.whyBsi {
    padding-top: 80px;
}

.why-bsi{
    max-width: 648px;
    transform: translateY(-20deg);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
}
.why-bsi .flex{
    justify-content: flex-start;
}
.why-bsi p{
    font-weight: lighter;
    font-size: 24px;
}
.why-title{
    padding-left: 8px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}
.why-card .icon:first-child{
    text-align: center;
}
.why-icon{
    color: #054988;
}
.why-card{
    padding: 20px;
}
.why-card:hover{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}
.showcase-login {
    position: absolute;
    top: 100px;
    background-color: #fff;
    width: 500px;
    z-index: 100;
    color: #333;  
    padding-bottom: 60px;
    
}

.expndmore i {
    position: absolute;
    top: 14px;
}

/* mamage */
.staff-management{
    position: relative;
    background-color: #cecbff;
    margin: 0 auto;
}
.manage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    max-width: 550px;
}
.staff-card{
    height: 300px;
    width: 500px;
    padding: 5px;
    box-shadow: 3px 3px 10px rgba(131, 130, 130, 0.2);
    z-index: 15;
}
.staff-card:hover{
    box-shadow:  3px 3px 10px rgba(0, 0,0, 0.2);;
}

.staff-management::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 50%;
    right: 0;
    height: 400px;
    width: 100%;
    background-color: #fff;
    transform: skewY(8deg);
}
/* footer */
.footer{
    background-color: #001528;
    color: #fafafa;
    letter-spacing: 2px;
}
.footer a{
    color: #fafafa;
}
.footer ul{
    list-style: none;
}

/* keyframes */
@keyframes SlideInFromTop {
    0%{
        transform:translateY(-10%)
    }
    100%{
        transform: translateY(0)
    }
}
@keyframes SlideInToTop {
    0%{
        transform:translateY(0)
    }
    100%{
        transform: translateY(-10%)
    }
}

@keyframes SlideUpandDown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes slideToLeft{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes slideToRight{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@media (max-width:768px){
    .navbar .container .flex{
        display: none;
    }
    .navbar li{
        margin: 10px auto;
    }
    
    .navBarMenu{
        display: block;
    }
    
    .head-text{
        font-size: 32px;
    }
    .showcase .grid,
    .feature-list .grid{
        grid-template-columns: 1fr;
        overflow: hidden;
    }
    .whyBsi .grid,
    .manage,
    .showcase-demo .grid{
        grid-template-columns: 1fr;
    }
    .manage{
        width: auto;
        height: auto;
        overflow: hidden;
    }
    .staff-card{
        width: 300px;
    }
    .showcase-demo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        max-width:300px;
        margin: 10px auto;
    }
    .showcase-text h2{
        text-align: center;
        padding-top: 40px;
    }
    .showcase{
        height: auto;
    }
    
}

@media (max-width:548px){
    .navBarMenuOpen{
        width: 75%;
    }
    .showcase-login{
        width: 90%;
    }
}